# .coveragerc to control coverage.py
[run]
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    #def __repr__
    #if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    #raise AssertionError
    #raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    #if 0:
    if __name__ == .__main__.:
    if __name__ == '__main__':
show_missing = True
omit =
    # can't test due to no audio
    voluxaudio/*
    # can't test due to tkinter
    voluxbar/*
    # can't test because no display
    voluxdisplay/*
    # can't test due to tkinter
    voluxgui/*
    # can't test due to no network devices
    voluxlight/*
    # not appropriate for testing
    voluxold/*
    # can't test because no audio
    voluxvolume/*
    # not appropriate for testing
    demo_*.py
    # not appropriate for testing
    volux/__main__.py
    # not appropriate for testing
    volux/demos/*
    # not appropriate for testing
    volux/scripts/*

#ignore_errors = True
