# python cache files
__pycache__/

# virtual environments
venv_*/

# test cache files
.pytest_cache

# coverage reporting
.coverage
coverage.xml

# sphinx related
docs/_*

# logs
*.log

# flatpak distribution
.flatpak-builder
build-dir
volux-repo

# external packages
voluxlightvisualiser
cpmixer
