[Desktop Entry]
Name=Volux (Bar Demo)
Comment=High-level media/entertainment workflow automation platform
Exec=volux --demo bar
Type=Application
Icon=org.volux.Volux
Terminal=false
StartupNotify=true
