[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pylint = "*"
pydocstyle = "*"
flake8 = "*"
mypy = "*"
bandit = "*"
pytest = "*"
black = "*"
pytest-cov = "*"
codecov = "*"

[packages]
colorama = "==0.4.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
