lifxlan==1.2.5
pycaw; platform_system == 'Windows'
comtypes==1.1.7; platform_system == 'Windows'
pyalsaaudio==0.8.4; platform_system == 'Linux'
PyAudio==0.2.11; platform_system == 'Linux'
colorama==0.4.1
numpy==1.17.3
cpmixer=0.8.0
