[Desktop Entry]
Name=Volux Gui
Comment=High-level media/entertainment workflow automation platform
Exec=volux launch
Type=Application
Icon=org.volux.Volux
Terminal=false
StartupNotify=true
